##############
# vault      #
##############
/group_vars/all/vault.yml
/pass

##############
# inventory  #
##############
/group_vars/dynamic_db.yml
/group_vars/dynamic_web.yml
/inventory/hosts

##############
# terraform  #
##############
/terraform/.terraform
/terraform/terraform.tfvars
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup

###############
# visual code #
###############
*.code-workspace

###################
# no .retry files #
###################
*.retry

#########################
# linux .directroy maps #
#########################
.directory

