##############
# vault      #
##############
/group_vars/all/vault.yml
/pass

##############
# inventory  #
##############
/group_vars/dynamic.yml
/inventory/hosts

##############
# terraform  #
##############
/terraform/.terraform
/terraform/terraform.tfvars

###############
# visual code #
###############
/*.code-workspace

###################
# no .retry files #
###################
*.retry

